@media only screen and (min-width: 14.5rem) {
  .container {
    background: #767370;
    background: linear-gradient(180deg, #767370 0%, #767370 13.99%, #767370 40%, #f0ac6c 31%, #f0ac6c 50%, #f0ac6c 62%, #f0ac6c 75%, #767370 70%, #767370 96%);
    overflow: hidden;
  }
  .spaceSaver {
    padding: 1.5rem 0;
  }
  .mainContainer {
    display: grid;
    padding: 1rem;
  }
  .githublink {
    border-bottom: 0.01rem solid black;
  }
  .titleContainer {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.6fr 0.9fr;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 23px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.6px);
    -webkit-backdrop-filter: blur(112.6px);
    border: 1px solid rgba(255, 255, 255, 0.16);
  }

  .titleContainer:hover {
    border: 0.05rem solid black;
    border-radius: 0.1rem;
  }
  .nameTag {
    display: grid;
    justify-content: center;
  }
  .mainTitle:hover {
    transform: scale(1.2);
  }
  .mainTitle:active {
    margin-right: 10rem;
  }
  .mainTitle {
    display: grid;
    margin-top: 3rem;
    text-align: center;
    color: rgb(37, 37, 37);
    text-shadow: 0.12rem 0.12rem 2rem;
    border-bottom: 0.07rem solid #393e46;
    margin-bottom: 0;
    font-size: 1.8rem;
    width: 13rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .image:hover {
  }
  .image:active {
  }
  .image {
    display: grid;
    justify-self: center;
    width: 7rem;
    cursor: pointer;
  }
  .mainGrid {
    display: grid;
    grid-template-rows: 0.7fr 0.6fr;
  }

  .imageGrid {
    display: grid;
    margin: 3rem;
    gap: 2rem;
  }

  .image1 {
    display: grid;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    border: 0.05rem solid rgb(163, 163, 163);
    border-radius: 50%;
    max-height: 20rem;

    box-shadow: 0 0 1rem -0.1rem rgb(0, 0, 0);
    cursor: pointer;
  }

  .image1:hover {
    transform: scale(1.1);
    border: 0.06rem solid rgb(163, 163, 163);
  }
  .image1:active {
    transition: all 0.3s ease;
    transform: scale(1.3);
    border: 0.03rem solid rgb(255, 255, 255);
    box-shadow: 0 0 2rem -0.1rem rgb(201, 201, 201);
  }
  .textGrid {
    display: grid;
    justify-self: center;
    border: 0.01rem solid black;
    box-shadow: 0 0 2rem -0.1rem black;
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0 1rem;
    background: linear-gradient(180deg, #f4c857 0%, #ecca75 100%);
    cursor: default;
  }

  .textGrid:hover {
    transform: scale(1.02);
  }
  .mainTextContainer {
    display: grid;
    justify-self: center;
    border: 0.01rem solid black;
    border-radius: 0.15rem;
    padding: 0rem;
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem -0.1rem black;
    width: fit-content;
  }

  .mainText {
    display: grid;
    padding: 0 1rem;
    font-size: 0.7rem;
  }

  .subTextContainer {
    padding: 1rem;
    transition: all 0.3s ease;
  }
  .subTextContainer:hover {
    transform: scale(1.05);
    margin-left: 2rem;
  }
  .subText {
    font-size: 0.7rem;
    text-decoration: none;
    color: black;
  }
}
@media only screen and (min-width: 21.5rem) {
  .subText {
    font-size: 1rem;
  }
  .mainText {
    padding: 0 1.5rem;
    font-size: 0.9rem;
    max-width: 42rem;
  }
}
@media only screen and (min-width: 50rem) {
  .mainGrid {
    grid-template-rows: 1fr 0.6fr;
  }
  .image1 {
    max-height: 25rem;
  }
}

@media only screen and (min-width: 60rem) {
  .mainGrid {
    grid-template-rows: 1fr 0.8fr;
  }
  .image {
    width: 10rem;
  }
}
@media only screen and (min-width: 70rem) {
  .mainGrid {
    margin: 0 4rem;
  }
}

@media only screen and (min-width: 80rem) {
  .mainGrid {
    margin: 0 7rem;
  }
}
@media only screen and (min-width: 90rem) {
  .mainGrid {
    margin: 0 10rem;
  }
}

@media only screen and (min-width: 100rem) {
  .mainGrid {
    margin: 0 18rem;
  }
}
@media only screen and (min-width: 110rem) {
  .mainGrid {
    margin: 0 22rem;
  }
}
