@media only screen and (min-width: 14.5rem) {
  .container {
    background: #767370;
    background: linear-gradient(
      180deg,
      #767370 0%,
      #767370 13.99%,
      #767370 14%,
      #f27c0e 49.9%,
      #f27c0e 50%,
      #f27c0e 62%,
      #f27c0e 75%,
      #767370 96%
    );
  }
  .spaceSaver {
    padding: 1.5rem;
  }
  .MainTitle {
    margin: 3rem 0;
    text-align: center;
    padding: 1rem;
    color: white;
  }

  .titleContainer {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.6fr 0.9fr;
    transition: all 0.3s ease;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 23px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.6px);
    -webkit-backdrop-filter: blur(112.6px);
    border: 1px solid rgba(255, 255, 255, 0.16);
  }

  .titleContainer:hover {
    border: 0.05rem solid black;
    border-radius: 0.1rem;
  }
  .mainTitle:hover {
    transform: scale(1.2);
  }
  .mainTitle:active {
    margin-right: 10rem;
  }
  .mainTitle {
    display: grid;
    margin-top: 3rem;
    text-align: center;
    color: rgb(37, 37, 37);
    text-shadow: 0.12rem 0.12rem 2rem;
    border-bottom: 0.07rem solid #393e46;
    margin-bottom: 0;
    font-size: 1.8rem;
    width: 13rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .image:hover {
  }
  .image:active {
  }
  .image {
    display: grid;
    justify-self: center;
    width: 7rem;
    cursor: pointer;
  }

  .mainContainer {
    display: grid;
    justify-content: center;
  }

  .mainGrid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    /* border: 0.01rem solid black;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem -0.1rem;
  margin: 1rem; */
  }
  .formContainerContainer {
    border: 0.01rem solid black;
    display: grid;
    justify-self: center;
    border: 0.01rem solid black;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem -0.1rem;
    margin: 1rem;
    width: fit-content;
    max-height: fit-content;
    background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
  }
  .formContainer {
    display: grid;
    justify-items: center;
    width: fit-content;
  }
  .formContainerContainer {
    transition: all 0.3s ease;
  }
  .formContainerContainer:hover {
    transform: scale(1.02);
  }
  .form {
    border: 0.01rem solid black;
    width: fit-content;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 0 1rem -0.1rem black;
    border-radius: 0.25rem;
  }
  .formTitle {
    text-align: center;
    display: grid;
    font-size: 1rem;
  }

  .formGroup {
    width: fit-content;
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    border-radius: 0.15rem;
    align-items: center;
    box-sizing: border-box;
  }

  .formLabel {
    display: grid;
    justify-content: center;
    margin-right: 0.3rem;
    width: 5rem;
    box-sizing: border-box;
    font-size: 0.8rem;
  }

  .formControl {
    border-radius: 0.25rem;
    border: 0.125rem solid #999;
    padding: 0.5rem;
    font-size: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .formButtonContainer {
    text-align: center;
    margin: 2rem 0;
  }

  .formButton {
    background: #f4e285;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    transition: background-color 150ms;
    cursor: pointer;
    border: 0.01rem solid black;
  }

  .formButton:hover {
    background-color: #f7f3f3;
  }
  .contactCardContainer {
    border: 0.01rem solid black;
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100%;
    padding-bottom: 2rem;
    box-shadow: 0 0 1rem -0.1rem black;
    border-radius: 0.25rem;
  }
  .contactCard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
  }

  .contactCardContent {
    display: grid;
    padding: 0.24rem;
    margin: 0 2rem;
    width: fit-content;
    font-size: 0.8rem;
  }

  .imageContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    margin: 0 1rem;
    transition: all 0.3s ease;
  }

  .imageContainer:hover {
    transform: scale(1.02);
  }
  .everythingImage {
    max-width: 100%;
    border: 0.01rem solid black;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem -0.1rem black;
  }
}
@media only screen and (min-width: 21.5rem) {
  .MainTitle {
    font-size: 1.5rem;
  }
  .formButton {
    font-size: 0.9rem;
  }
  .formControl {
    font-size: 0.6rem;
  }
  .formLabel {
    font-size: 0.9rem;
  }
  .formTitle {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 40rem) {
  .mainGrid {
    margin: 5rem;
  }
  .mainTitle {
    width: 24rem;
  }
}
@media only screen and (min-width: 50rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 0.8fr 1fr;
  }
  .everythingImage {
    height: 50rem;
    max-height: 96.4%;
  }
  .formContainerContainer {
    border: 0.01rem solid black;
    display: grid;
    justify-self: right;
  }
  .mainGrid {
    margin: 0;
  }
}

@media only screen and (min-width: 60rem) {
  .image {
    width: 10rem;
  }
}

@media only screen and (min-width: 70rem) {
  .mainGrid {
    margin: 0 4rem;
    gap: 1rem;
  }
}

@media only screen and (min-width: 80rem) {
  .mainGrid {
    margin: 0 7rem;
    gap: 1rem;
  }
  .imageContainer {
    justify-content: left;
  }
}

@media only screen and (min-width: 90rem) {
  .mainGrid {
    margin: 0 10rem;
    gap: 1rem;
  }
}
