.container {
}
.mainGrid {
  margin: 0 1rem;
  display: grid;
  gap: 3rem;
  grid-template-rows: 1fr;
}
.mainGridImageContainer {
  justify-self: center;
}
.mainTitle {
  text-align: center;
}

.mainDescription {
  font-size: 1rem;
  border: 0.01rem solid black;
  width: 18rem;
  padding: 1rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.singleItemMainGrid {
  display: grid;
  align-self: center;
  box-shadow: 0 0 2rem -0.1rem black;
  border-radius: 0.25rem;
}

.forumSingleItem {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  margin: 0.7rem;
  border: 0.01rem solid black;
  box-shadow: 0 0 1rem -0.1rem black;
  border-radius: 0.25rem;
  padding: 1rem;
}
.singleItemGrid1 {
  display: grid;
  justify-self: center;
  max-width: 100%;
  margin: 0 1rem;
}

.accountImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.01rem solid black;
  justify-self: center;
}
.singleItemGrid2 {
  display: grid;
  border-left: 0.01rem solid black;
}

.accountName {
  font-size: 0.8rem;
  text-align: center;
}

.accountMessage {
  display: grid;
  margin-left: 2rem;
}

@media only screen and (min-width: 50rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 1fr 0.7fr;
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 60rem) {
  .mainGrid {
    grid-template-columns: 1fr 0.6fr;
  }
}
@media only screen and (min-width: 70rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 1fr 0.5fr;
  }
}
@media only screen and (min-width: 80rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 1fr 0.4fr;
  }
}
