.container {
}

.mainGrid {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainGridImage {
  max-width: 100%;
  border-radius: 50%;
  margin-left: 2rem;
}
.mainTitle {
  text-align: center;
}

.mainDescription {
  font-size: 1rem;
  margin-bottom: 2rem;
  border: 0.01rem solid black;
  width: 25rem;
  margin-left: 1rem;
}

.singleItemMainGrid {
  display: grid;
  align-self: center;

  box-shadow: 0 0 2rem -0.1rem black;
  border-radius: 0.25rem;
}

.forumSingleItem {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  margin: 0.7rem;
  border: 0.01rem solid black;
  box-shadow: 0 0 1rem -0.1rem black;
  border-radius: 0.25rem;
  padding: 1rem;
}
.singleItemGrid1 {
  display: grid;
  justify-self: center;

  max-width: 100%;
}

.accountImage {
  width: 3.5rem;
  border-radius: 50%;

  justify-self: center;
}
.singleItemGrid2 {
  display: grid;
  border-left: 0.01rem solid black;
}

.accountName {
  font-size: 0.8rem;
  text-align: center;
}

.accountMessage {
  display: grid;
  margin-left: 2rem;
}
