@media only screen and (min-width: 22.5rem) {
  .nav {
    display: none;
  }
}
@media only screen and (min-width: 30rem) {
}

@media only screen and (min-width: 50rem) {
  .header {
    width: 100%;
    background: #767370;
  }
  .navbar-container {
    display: grid;
    box-shadow: 0rem 0 0.3rem -0.01rem black;
    margin: 0 0.05rem;
  }

  .header-title {
    text-decoration: none;
  }

  .logo {
    width: 1.8rem;
  }
  .navbar-item {
    text-align: center;
    align-self: center;
    margin: 1rem 0.3rem;
  }
  .nav {
    display: contents;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    list-style-type: none;
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0rem;
    list-style-type: none;
  }

  .nav-link {
    display: block;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0.12rem 0.12rem 2.5rem;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 0.35rem;
    text-decoration: none;
    width: fit-content;
    padding: 0.2rem 1.4rem;
  }
  .nav-link:hover {
  }

  .header a:active,
  .header a:hover {
    transform: scale(1.2);
    color: black;
    color: #ed7a0e;
    background-color: #293232;
    text-decoration: underline;
    transform: scale(1.2);
  }
}
