.container {
  display: grid;
  background: #767370;
  background: linear-gradient(
    180deg,
    #767370 0%,
    #767370 13.99%,
    #767370 14%,
    #f27c0e 49.9%,
    #f27c0e 50%,
    #f27c0e 62%,
    #f27c0e 75%,
    #767370 96%
  );
}
.spaceSaver {
  padding: 1.5rem 0;
}
.mainTitle:hover {
  transform: scale(1.2);
}
.titleContainer {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.6fr 0.9fr;
  transition: all 0.3s ease;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 23px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(112.6px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.titleContainer:hover {
  border: 0.05rem solid black;
  border-radius: 0.1rem;
}
.mainTitle:hover {
  transform: scale(1.2);
}
.mainTitle:active {
  margin-right: 10rem;
}
.mainTitle {
  display: grid;
  margin-top: 3rem;
  text-align: center;
  color: rgb(37, 37, 37);
  text-shadow: 0.12rem 0.12rem 2rem;
  border-bottom: 0.07rem solid #393e46;
  margin-bottom: 0;
  font-size: 1.8rem;
  width: 13rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.image:hover {
  transform: scale(1.3);
}
.image:active {
  margin-left: 10rem;
}
.image {
  display: grid;
  justify-self: center;
  width: 7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.mainContainer {
  display: grid;
}

.mainGrid {
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr;
  margin: 2rem;
  max-width: 34rem;
}

.gridItem1 {
  display: grid;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
  background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem -0.1rem black;
}

.surfboardImage {
  display: grid;
  align-self: center;
  border: 0.01rem solid black;
  max-width: 100%;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem -0.1rem black;
}

.surfboardImage:hover {
  transform: scale(1.01);
}
.gridItem2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.01rem;
  border: 0.1rem solid black;
  margin: 1rem;
  background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem -0.1rem black;
}

.gridItem2Content1,
.gridItem2Content2,
.gridItem2Content3,
.gridItem2Content4 {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgb(80, 80, 80);
  transition: all 0.3s ease;
}

.gridItem2Content1:hover,
.gridItem2Content2:hover,
.gridItem2Content3:hover,
.gridItem2Content4:hover {
  transform: scale(1.003);
  margin-left: 0.8rem;
}

.linksSubtitles {
  font-size: 1rem;
}
.linksContent {
  font-size: 0.85rem;
}
@media only screen and (min-width: 40rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 50rem) {
  .mainGrid {
    grid-template-rows: none;
  }
}
@media only screen and (min-width: 60rem) {
  .image {
    width: 10rem;
  }
}
@media only screen and (min-width: 81rem) {
  .mainGrid {
    grid-template-columns: 0.7fr 1fr;
    max-width: none;
  }
}
