.container {
  background: #767370;
  background: linear-gradient(
    180deg,
    #767370 0%,
    #767370 13.99%,
    #767370 14%,
    #f27c0e 49.9%,
    #f27c0e 50%,
    #f27c0e 62%,
    #f27c0e 75%,
    #767370 96%
  );
}

.mainTitle {
  text-align: center;
  margin: 0rem;
  padding: 2rem;
}

.mainContainer {
}

.mainGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
}

.gridItem1 {
  display: grid;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
  background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
}

.surfboardImage {
  border: 0.01rem solid black;
  max-width: 100%;
}
.gridItem2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.01rem;
  border: 0.1rem solid black;
  margin: 1rem;
  background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
}

.gridItem2Content1 {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
}
.gridItem2Content2 {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
}
.gridItem2Content3 {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
}
.gridItem2Content4 {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
}

.linksSubtitles {
  font-size: 1.1rem;
}
@media only screen and (min-width: 40rem) {
  .mainGrid {
    grid-template-rows: none;
    grid-template-columns: 0.7fr 1fr;
  }
}

@media only screen and (min-width: 80rem) {
  .mainGrid {
    grid-template-columns: 0.4fr 1fr;
  }
}
