@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,300&display=swap");

* {
  font-family: "Nunito", sans-serif;
}
.main-container {
  background: #767370;
  background: linear-gradient(
    180deg,
    #767370 0%,
    #767370 13.99%,
    #767370 14%,
    #f27c0e 49.9%,
    #f27c0e 50%,
    #f27c0e 62%,
    #f27c0e 75%,
    #767370 96%
  );
}

.main-color-wrapper {
  background: linear-gradient(#f4c857);
}

@media only screen and (min-width: 22.5rem) {
  .main-title {
    font-size: 1.3rem;
    color: white;
    text-shadow: 0.12rem 0.12rem 2rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
    text-align: center;
    margin-top: 4rem;
    border-bottom: 0.07rem solid rgb(80, 80, 80);
    width: 18rem;
    transition: all 0.3s ease;
    cursor: default;
  }
  .main-title:hover {
    transform: scale(1.2);
  }
  .description-and-image {
    position: relative;
    color: black;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }

  .main-description {
    box-shadow: 0 0 2rem -0.1rem rgb(223, 186, 117);
    text-shadow: 0.12rem 0.12rem 2.5rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    padding: 1rem;
    color: whitesmoke;
    font-size: 0.65rem;
    width: 11rem;
    transition: all 0.3s ease;
    cursor: default;
  }
  .main-description:hover {
    transform: scale(1.1);
  }
  .main-links {
    color: black;
    background-color: #293232;
  }
  .new-brighton-image {
    box-shadow: 0 0.15rem 1rem -0.1rem rgb(19, 19, 19);
    border-top: 0.07rem solid rgb(74, 74, 74);
    border-bottom: 0.07rem solid rgb(74, 74, 74);
    border-radius: 0.1rem;
    max-width: 100%;
    align-self: center;
    transition: all 0.3s ease;
  }
  .new-brighton-image:hover {
    transform: scale(1.01);
  }

  /* Single Surfbreaks Grid */

  .surfbreaks-grid-container {
    box-shadow: 0 0 2rem -0.1rem black;
    border-radius: 0.5rem;
    margin: 0 2rem;
  }

  .surfbreaks-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0.5rem;
    background-color: #f4c857;
    background: linear-gradient(180deg, #f27c0e 0%, #f4c857 100%);
    border: 0.01rem solid black;
    border-radius: 0.5rem;
  }

  .single-surfbreak {
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 0.1fr;
    padding: 1rem;
    border: 0.05rem solid black;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem -0.1rem black;
    background-color: #393e46;
  }

  .surfbreaks-image {
    box-shadow: 0 0 1rem -0.1rem black;
    border: 0.1rem solid black;
    max-width: 100%;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
  }
  .surfbreaks-image:hover {
    transform: scale(1.05);
  }
  .surfbreaks-title {
    font-size: 0.9rem;
    width: fit-content;
    color: white;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    transition: all 0.3s ease;
  }
  .surfbreaks-title:hover {
    color: #f27c0e;
    margin-left: 2rem;
    transform: scale(1.2);
  }
  .surfbreaks-blurb {
    font-size: 0.85rem;
    color: white;
    cursor: default;
  }

  .main-buttons {
    margin: 0 1rem 0 0;
    padding: 0.3rem 0.9rem;
    background: none;
    width: fit-content;
    color: black;
    border: 0.01rem solid black;
    font-size: 0.6rem;
    background-color: #f4c857;
    border-radius: 0.15rem;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .main-buttons:active,
  .main-buttons:hover {
    color: #ed7a0e;
    background-color: #293232;
    text-decoration: underline;
    transform: scale(1.15);
  }

  .button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  .button-link {
    width: fit-content;
  }
  .sub-title-container {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.6fr 0.9fr;
  }
  .sub-title {
    margin-top: 3rem;
    text-align: center;
    color: rgb(37, 37, 37);
    text-shadow: 0.12rem 0.12rem 2rem;
    border-bottom: 0.07rem solid #393e46;
    margin-bottom: 0;
    font-size: 2.3em;
    width: 20rem;
    transition: all 0.3s ease;
    cursor: default;
  }

  .sub-title:hover {
    transform: scale(1.2);
  }
  .mini-image {
    display: grid;
    justify-self: center;
    width: 7rem;
    transition: all 0.2s ease;
  }
  .mini-image:hover {
    transform: scale(1.5);
  }
  .title-container {
    display: grid;
    margin-bottom: 6rem;
  }
}
@media only screen and (min-width: 30rem) {
  .main-description {
    font-size: 0.7rem;
    width: 17rem;
  }
  .main-title {
    display: grid;
    justify-self: center;
    font-size: 2.3rem;
    text-align: center;
    margin-left: 0;
    padding: 0 2rem;
  }
  .surfbreaks-title {
    font-size: 1.2rem;
  }
  .surfbreaks-blurb {
    font-size: 0.95rem;
  }
  .main-buttons {
    font-size: 0.8rem;
    padding: 0.3rem 0.9rem;
  }
}
@media only screen and (min-width: 40rem) {
  .main-description {
    font-size: 0.85rem;
    width: 12rem;
  }
  .main-title {
    border-bottom: 0.07rem solid rgb(80, 80, 80);
  }
  .surfbreaks-grid {
    grid-template-columns: 1fr 1fr;
  }

  .surfbreaks-title {
    font-size: 1.2rem;
  }
  .surfbreaks-blurb {
    font-size: 0.95rem;
  }
  .main-buttons {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}
@media only screen and (min-width: 50rem) {
  .main-description {
    font-size: 0.95;
    width: 14rem;
  }
  .main-title {
    font-size: 2.3rem;
    width: 24rem;
    border-bottom: 0.07rem solid rgb(80, 80, 80);
    padding: 0 1rem;
  }
  .surfbreaks-title {
    font-size: 1.2rem;
  }
  .surfbreaks-blurb {
    font-size: 0.95rem;
  }
  .main-buttons {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .title-container {
    display: grid;
    justify-content: start;
    margin-bottom: 6rem;
    margin-left: 6rem;
  }
}

@media only screen and (min-width: 60rem) {
  .main-description {
    font-size: 0.99;
    width: 16rem;
  }
  .surfbreaks-grid-container {
    box-shadow: 0 0 2rem -0.1rem black;
    margin: 0 3rem;
  }

  .surfbreaks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 0.5rem;
    margin-top: 3rem;
  }

  .single-surfbreak {
    display: grid;
    grid-template-rows: 0.3fr 0.1fr 0.5fr;
    padding: 1rem;
    border: 0.05rem solid black;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem -0.1rem black;
  }

  .surfbreaks-image {
    box-shadow: 0 0 1rem -0.1rem black;
    border: 0.1rem solid black;
    max-width: 100%;
    border-radius: 0.25rem;
  }
  .surfbreaks-title {
    font-size: 1.2rem;
  }
  .surfbreaks-blurb {
    font-size: 0.95rem;
  }
  .main-buttons {
    font-size: 0.7rem;
    padding: 0.3rem 0.68rem;
  }
  .sub-title {
    width: 24rem;
    margin-top: 4rem;
    font-size: 2.8em;
  }
  .mini-image {
    width: 10rem;
  }
}
@media only screen and (min-width: 70rem) {
  .main-description {
    font-size: 0.95rem;
    width: 20rem;
  }
  .surfbreaks-grid-container {
    margin: 0 6rem;
  }
  .surfbreaks-title {
    font-size: 1.2rem;
  }
  .surfbreaks-blurb {
    font-size: 1rem;
  }
  .main-buttons {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 80rem) {
  .main-description {
    font-size: 1.1rem;
    width: 35rem;
  }
  .main-title {
    font-size: 3rem;
    width: 34rem;
  }
  .top-left {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem;
  }
  .surfbreaks-grid-container {
    box-shadow: 0 0 2rem -0.1rem black;
    border-radius: 0.25rem;
    margin: 0 12rem;
  }

  .surfbreaks-title {
    font-size: 1.4rem;
  }
  .surfbreaks-blurb {
    font-size: 1.1rem;
  }
  .main-buttons {
    font-size: 1rem;
  }
  .sub-title {
    width: 27rem;
    font-size: 3.3rem;
  }
  .surfbreaks-title:hover {
    margin-left: 2.7rem;
  }
}

@media only screen and (min-width: 95rem) {
  .surfbreaks-title:hover {
    margin-left: 3.4rem;
  }
  .surfbreaks-grid-container {
    box-shadow: 0 0 2rem -0.1rem black;
    border-radius: 0.25rem;
    margin: 0 14rem;
  }
}
