.container {
  background: #767370;
  background: linear-gradient(
    180deg,
    #767370 0%,
    #767370 13.99%,
    #767370 14%,
    #f27c0e 49.9%,
    #f27c0e 50%,
    #f27c0e 62%,
    #f27c0e 75%,
    #767370 96%
  );
  margin-top: 0rem;
}
.surfboardContainer {
}
.surfboardGridContainer {
  padding: 1rem;
  margin: 0 1rem;
}
.surfboardTitle {
  text-align: center;
}

.singleSurfboardGrid {
  border: 0.1rem solid black;
  padding: 0.5rem;
  box-shadow: 0 0 2rem -0.1rem black;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  background-color: #f4c857;
  padding-bottom: 5rem;
}

.singleSurfboardDescriptionContainer {
  display: grid;

  grid-template-rows: 0.7fr 1fr;
  margin-top: 1rem 0;
  padding: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.surfboardDescription {
  display: grid;
  margin: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 0rem;
  font-size: 1rem;
}

.surfboardStrength {
  display: block;
  align-self: center;
  justify-self: center;
  list-style-type: none;
  font-size: 1.6rem;
  border-bottom: 0.01rem solid black;
  width: fit-content;
  padding: 0.4rem 3rem;
  margin-bottom: 0rem;
}
.singleSurfboardImage {
  display: grid;
  justify-content: center;
  margin: 0rem 2rem;
}
.surfboardsImage {
  display: grid;
  align-self: center;
  max-width: 100%;
  max-height: 18rem;
  box-shadow: 0 0 1rem -0.1rem black;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
}

.surfboardContainer {
  border: 0.1rem solid black;
}
@media only screen and (min-width: 50rem) {
  .surfboardGridContainer {
    margin: 0 5rem;
  }
}
@media only screen and (min-width: 60rem) {
  .surfboardGridContainer {
    margin: 0 8rem;
    transition: all 0.3s ease;
  }
}
@media only screen and (min-width: 70rem) {
  .surfboardGridContainer {
    display: grid;
    justify-self: center;
    margin: 0 10rem;
    transition: all 0.5s ease;
  }
  .surfboardStrength {
    font-size: 1.5rem;
  }
  .surfboardDescription {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 90rem) {
  .surfboardGridContainer {
    margin: 0 16rem;
    transition: all 0.3s ease;
  }
}

@media only screen and (min-width: 100rem) {
  .surfboardGridContainer {
    margin: 0 22rem;
    transition: all 0.3s ease;
  }
}

@media only screen and (min-width: 110rem) {
  .surfboardGridContainer {
    margin: 0 26rem;
    transition: all 0.3s ease;
  }
}

@media only screen and (min-width: 125rem) {
  .surfboardGridContainer {
    margin: 0 30rem;
    transition: all 0.3s ease;
  }
}
